html, body {
	margin: 0;

	font-family: 'Montserrat', sans-serif;
	font-size: 16px;

	color: #000000;
}

.main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.sidebar {
	border-right: 1px solid #cfd8dc;
	padding: 1.5rem 2rem;
}

.sidebar__title {
	font-size: 3rem;
	font-weight: 800;
}

.sidebar__subtitle {
	font-size: 1.5rem;
	font-weight: 600;
}

.sidebar__description {
	margin: 1.75rem 0;
	line-height: 1.5rem;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	padding: 2rem;
}

.card {
	flex-basis: 250px;
	margin: 1.5rem;
	border: 1px solid #cfd8dc;
	border-radius: 5px;
}

.card__img {
	width: 100%;
	border-radius: 5px 5px 0 0;
}

.card__copy {
	padding: 0.5rem 1.25rem;
}

.card__copy__title {
	font-size: 1.25rem;
	font-weight: 600;
}

@media (max-width: 768px) {
	html, body {
		font-size: 14px;
	}

	.main {
		display: block;
	}

	.card {
		flex-grow: 1;
	}

	.sidebar {
		border-right: none;
		border-bottom: 1px solid #cfd8dc;
	}
}

